In [19]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School", 
                "Wilson High School", "Wright High School"]

In [20]:
# To print out each schools in high_schools
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [21]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [22]:
# To print out each high school and their types
for "High School" in  high_school_types:
    for "Type" in "High School"."Type"():
        print("Type")

SyntaxError: cannot assign to literal (Temp/ipykernel_14588/4230291322.py, line 2)

In [27]:
# Add the Pandas dependency.
import pandas as pd

In [28]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School",
                "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [29]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)

In [30]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [31]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [32]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [49]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [50]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [51]:
# Add the list to a new DataFrame.

schools_df["School ID"] = school_id
schools_df
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [52]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [53]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [54]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [55]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

school_name = ["Huang High School", "Figueroa High School",
               "Shelton High School", "Hernandez High School","Griffin High School",
               "Wilson High school","Cabrera High School","Bailey High School","Holden High School"
               "Pena High School","Wright High School","Rodriguez High School","Johnson High School",
               "Ford high School","Thomas High School"]

type_of_school = ["District", "District", "Charter", "District","Charter","Charter","Charter",
                  "District","Charter","Charter","Charter","District","District","District",
                  "Charter"   
                 ]

In [56]:
# Add the list to a new DataFrame.

schools_df["School ID"] = school_id
schools_df
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school
schools_df

ValueError: Length of values (15) does not match length of index (5)